body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    color: #870A28;
    text-align: center;
}

header h2{
    color:#00613C;
}

nav ul{
    list-style: none;
    padding:0%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav ul li{
    display:inline;
}

nav ul li a{
    text-decoration: none;
    color:#870A28;
    border: none;
    background: none;
}

nav ul li a:hover {
    font-size: 1rem;
    transition: 0.3s ease; 
}

.texto1{
    color:#870A28;
    text-align: left;
    padding: 1%;
}

.texto1 h3{
    color:#00613C
}

.texto2{
    color:#870A28;
    text-align: left;
    padding: 1%;
}

.texto2 h3{
    color:#00613C
}

.elencos1{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    gap:7px;
    flex-wrap: wrap;
}

figcaption{
    display:block;
    visibility: visible;
    position: relative;
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    color:#00613C;
}

.elencos2{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    gap:7px;
    flex-wrap: wrap;
}


.reservas{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    gap:7px;
    flex-wrap: wrap;
}


footer p{
    background-color:#00613C;
    color: #FFFFFF;
    padding:16px;
    text-align: center;
    margin-bottom: 0;

}

.elenco1, .elenco2, .reserva {
    width: 100%;
    max-width: 200px;  
    min-width: 120px;  
    height: auto;      
}
.elencos1, .elencos2, .reservas {
    display: flex;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap; 
}

.elenco1, .elenco2, .reserva {
    width: 100%;        
    max-width: 200px;   
    min-width: 120px;   
    height: auto;       
}



@media (min-width: 480px) {
    header h1 {
        font-size: 1.8rem;
    }
    header h2 {
        font-size: 1rem;
    }
}


@media (min-width: 480px) {
    footer p {
        font-size: 0.85rem;
    }
}

@media (min-width: 480px) {
    nav ul li a {
        font-size: 0.9rem;
    }
}